<!-- <div class="container">
  <app-navi></app-navi>
  <div class="row"> -->
    <!-- row 12'ye eşit parçaya böler. istediğimiz boyuta göre bölüyoruz. -->
    <!-- <div class="col-md-3"> -->
      <!-- <app-brand></app-brand> -->
      <!-- <app-car-filter></app-car-filter>
      <app-color></app-color>
    </div>
    <div class="col-md-9"> -->
      <!-- değişmesini istediğimiz yer -->
      <!-- <router-outlet></router-outlet>
    </div>
  </div> -->

<!-- </div> -->

<div class="container">
  <app-navi></app-navi>
  <br>
  <div class="row">

    <div class="col-md-12 content-margin">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
